*{
    padding: 0;
    margin: 0;
    background-color: rgb(218, 217, 217);
    font-family: Arial;
}

body{
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center ;
}

#form{
    display: flex;
    flex-direction: column;
    background-color: rgb(193, 193, 193);
    height: 75px;
    margin-top: 15px;
    margin-bottom: 20px;
    align-items: center;
    padding: 15px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
}

#p-form{
    background-color: rgb(188, 192, 195);
}

button{
    background-color: rgb(61, 57, 57);
    width: 75px;
    color: wheat;
    border-radius: 5px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3)
}
button:hover{
    background-color: rgb(1, 1, 1);
    cursor: pointer
}
button:active{
    transform: translateY(1px);
    
}

#Divtable {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

#table {
    width: 80%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: rgb(231, 238, 244);
}
td:hover{
    background-color: rgb(188, 192, 195);
}

#header-table{
    display: none;
}
.btns{
    width: auto;
    color: rgb(235, 224, 201);
    border-radius: 5px;
    margin: 0 5px;
    font-family:'Trebuchet MS';
}
.btns:hover{
    
    transform: translateY(1px);
    cursor: pointer;
}

#select{
    margin-bottom: 25px;
}
#sort{
    border-radius: 5px;
    padding: 5px 12px;
    border: 1px solid;
    font-size: 16px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer
}
#sort:hover{
    background-color: rgb(189, 188, 188)
}
#sort:active{
    transform: translateY(.5px);
}
.option:hover{
    background-color: rgb(185, 184, 184);
}
#btn-sort{
    background-color:rgb(218, 217, 217);
    color: black;
    padding: 3px, 3px;
    font-size: 13px;
}
#btn-sort:hover {
    background-color: rgb(185, 184, 184);   
}